@model WMS.Models.ExportRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Export Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateExport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StorageSpaceId" class="control-label"></label>
                <select asp-for="StorageSpaceId" class="form-control" asp-items="ViewBag.StorageSpace"></select>
                <span asp-validation-for="StorageSpaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        
    </script>
}
