@model WMS.Models.ImportRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Import Request</h4>
<hr />
<div class="row">
    <div class="col">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: inline-block">
                <label asp-for="StorageSpaceId" class="control-label"></label>
                <select asp-for="StorageSpaceId" class="form-control" style="max-width: 240px" asp-items="ViewBag.StorageSpace"></select>
                <span asp-validation-for="StorageSpaceId" class="text-danger"></span>
            </div>
        </form>
            <div class="form-group" style="display: inline-block">
                <input type="button" value="Create" onclick="submitRequest()" class="btn btn-primary" />
            </div>
        
            <div class="form-group">
                <select class="form-control" style="display: inline-block; max-width: 240px" id="itemDetailsSelect">
                    <option disabled selected value="-1">Select an item</option>
                </select>
                <input class="form-control" style="display: inline-block; max-width: 240px" id="countSelect" type="number" step="1" min="1" value="0" />
                <input type="button" id="addItemButton" class="btn btn-primary" value="Add Item">
            </div>
        
        <table class="table" style="max-width: 420px">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Count
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table">
                
            </tbody>
            <tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

let itemDetailsSelect = document.getElementById("itemDetailsSelect");
let addItemButton = document.getElementById("addItemButton");
let countSelect = document.getElementById("countSelect");
let table = document.getElementById("table");
let allItems = [];
let chosenItems = [];

addItemButton.addEventListener("click", e => {
    // e.preventDefault();
    addItem();
});


let url = "https://ooad19team7api.azurewebsites.net/api/itemdetails";
fetch(url).then(res => {
    res.json().then(data => {
        allItems = data;
        loadToSelect();
    })
}).catch(err => {
    console.log(err)
})

function loadToSelect() {
    for (let item of allItems) {
        itemDetailsSelect.innerHTML += `<option value="${item["upc"]}">${item["name"]}</option>`;
    }
}

function addItem() {
    if (itemDetailsSelect.value == -1)
        return;

    const data = { count: countSelect.value, upc: itemDetailsSelect.value, name: itemDetailsSelect.options[itemDetailsSelect.selectedIndex].text };
    let index = chosenItems.findIndex(item => item.upc == data.upc);
    if (index == -1)
        chosenItems.push(data);
    else
        chosenItems[index].count = new Number(data.count);

    updateTable();
}

function updateTable() {
    table.innerHTML = "";
    for (let item of chosenItems) {
        table.innerHTML += `<tr>
                <td>
                    ${item.name}
                </td>
                <td>
                    ${item.count}
                </td>
                <td>
                    <input type="button" onclick="removeItem('${item.upc}')" class="btn btn-danger" value="Remove">
                </td>
             </tr>`;
    }
}

function removeItem(upc) {
    chosenItems = chosenItems.filter(item => item.upc != upc);
    updateTable();
}

function submitRequest() {
    let request = {};
    request.id = null;
    request.requestDate = "2014-06-23T00:00:00";
    request.firmId = "@ViewBag.FirmId";
    request.processed = false;
    request.discriminator = "ImportRequest";
    request.itemCounts = [];

    for (let itemCount of chosenItems) {
        request.itemCounts.push({
            "id": "0",
            "requestId": "0",
            "itemUPC": itemCount.upc,
            "count": itemCount.count
        });
    }

    let url = "https://localhost:44319/api/requests";
    let postConfig = {
        headers: { 'Content-Type': 'application/json' },
        method: "POST",
        cache: "no-cache",
        mode: "no-cors",
        body: JSON.stringify(request)
    }

    fetch(url, postConfig).then(res => {
        res.json().then(data => {
            console.log(data);
        })
    })
    .catch(err => {
        console.log(err)
        //document.location.assign("/requests");
    })
}

</script>
}

@* 
    Valid JSON
{
    "id": null,
    "requestDate": "2014-06-23T00:00:00",
    "firmId": "61821be8-0644-4a17-8c07-e21f77968b0b",
    "processed": false,
    "storageSpaceId": "776de352-e089-41a5-99e1-7f9e3918685f",
    "discriminator": "ImportRequest",
    "itemCounts":[{"id":"2","requestId":"rq1","itemUpc":"e3ff1d65-0a5a-4899-aa91-39b57fcb5e99","count":5}]
}    
*@
