@model Warehouse

@{
    ViewData["Title"] = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Warehouse</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditConfirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="EditConfirmed" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
